body{
    background-image: url("./images/hanin.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom : 90px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#input_box{
    text-align: center;
    border: 3px solid white;
    border-radius: 35px;
    width: 500px;
    height: 300px;
    margin-bottom: 0px;
}
#text_box{
    font-size: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: none;
    border: none;
    color: black;
    text-align: center;
    border-radius: 25px;
    
}



.button{
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    color: black ;
    width: 100px;
    height: 50px;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}

.button:disabled:hover{
    background-color: hsla(0, 0%, 100%, 0.3);
    border: 2px solid hsla(0, 0%, 100%, 0.3);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
}


.button:hover{
    border-radius: 15px;
}

.button:active{
    background-color: rgb(224, 45, 84);
    border: 2px solid grey;
    color: white;
    border: none;
}

#title{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result_box{
    margin-top: 0px;
    width: 500px;
    height: 200px;
    border: 3px solid white;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result{
    font-size: 50px;
    height: 100px;
    width: 100px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid white;
    border-radius: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#conclusion{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 25px;
}
